*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(images/backgroound.jpg);
}

.container{
    padding: 10px 10%;
    font-size: 1.4em;
    font-weight: 700;
    color: #262626;
    margin: 1px 1px ;  
      
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

nav ul li{
    display:inline-block ;
    list-style:none;
    margin: 10px 15px;
}

nav ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    text-align: center;
    margin-top: 15%;
    font-size: 35px;
    color: black;
    
}

.header-text h2{

    font-size: 45px;
    margin-top: 20px;
}

.header-text h3 span{
    color: #800000;
    font-size: 60px;
}

.header-text h4{
    color :goldenrod;
}

/*----------about-------------*/
#about{
    padding: 80px 0;
    color: #ababab;
    font-size: 18px;
    background-color: #E26A2C;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    font-size: 20px;
    color: white;
}

.sub-title{
    font-size: 50px;
    font-weight: 100;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #800000;
    font-size: 16px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*----------services----------*/

#services{
    padding: 30px 0;
    background-color: #202040;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: goldenrod;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

.services-list div a{
    text-decoration: none;
    color: goldenrod;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div p{
    font-size: 20px;
    color: #fff;
}

.services-list div:hover{
    background: brown;
    transform: translateY(-10px);
}

/*-------------city----------------*/
#city{
    padding: 50px 0;
    background-color: #91091E;
}

.city-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.city{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.city img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), black);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
    padding: 0 40px ;
    text-align:center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer p{
    color:#fff;
    font-size: 16px;
    bottom: 50px;
    left: 56px;
}

.layer h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: brown;
}

.city:hover img{
    transform: scale(1.1);
}

.city:hover .layer{
    height: 100%;
}

/*--------------contact--------------*/
#contact{
    background-color: #009FBD;
}


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
    
}

.social-icons {
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display:inline-block;
    background: #ff004f;
    
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px ;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color: #202040;
    background-color: #FCFFE7;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #91091E;
}

/*-----------css for small screens---------------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/backgroound.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ;
    }
    nav ul li{
        display:block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .header-text h2{
        font-size: 25px;
    }
    .header-text h3 span{
        font-size: 40px;
    }
    .header-text{
        margin-top: 140px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        font-size: 16px;
    }
}
#msg{
    color: black;
    margin-top: -0px;
    display: block;
    font-size: 14px;
}
/*---------login-------------*/

#login{
    text-align: center;
    background-color: #470D21;
    
}
.form-box{
    color: goldenrod;
    text-align: left;
    width: 90%;
    max-width: 450px;
    margin-top: 10px;
    
    

}
.form-box h1{
    color: #fff;
    text-align: left;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
}

.input-group p{
    margin-top: 20px;
    height: 50px;
}

.form-box h1::after{
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 3px;
    background: goldenrod;
    position: absolute;
    bottom: -12px;
    left: 18%;
    transform: translateX(-50%);
}

.input-field{
    margin: 15px 0;
    border-radius: 3px;
    display:flex;
    align-items:center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    padding: 10px;
    min-width: 50px;
    text-align: center;
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: center;
    font-size: 12px;
    
}

form p a{
    text-decoration: none;
    color: blue;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    font-size: 16px;
    background: #202040;
    color: brown;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: backgroun 1s;
}

.btn-field button.disable{
    background: #262626;
    color: #555;
}